fastapi==0.111.0
uvicorn==0.30.1
pymediainfo==6.1.0
numpy==1.26.4
scikit-learn==1.5.0
joblib==1.4.2
python-multipart==0.0.9
construct==2.10.68
tqdm==4.66.4
imageio-ffmpeg==0.5.1
rich==13.7.1
typer==0.12.3
yt-dlp==2025.6.9
